.movieSearch {
  display: flex;
  margin: 140px 0 80px;
  padding: 0 70px;
  gap: 50px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .movieSearch {
    padding: 0 50px;
    gap: 3.906vw;
  }
}

@media screen and (max-width: 950px) {
  .movieSearch {
    padding: 0 20px;
    flex-direction: column;
    gap: 50px;
  }
}

/* @media screen and (max-width: 640px) {
  .movieSearch {
    padding: 0 20px;
  }
}
*/

@media screen and (max-width: 460px) {
  .movieSearch {
    padding: 0 10px;
  }
}
